@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.header {
    flex: 30%;
    background-color: brown;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header .inputContainer {
    display: flex;
    flex-direction: row;
}
.input-align {
    margin-left: 20px;
}

.header input {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    font-size: medium;
    border: 1px solid grey;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.header button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(49, 235, 170);
    font-size: large;
    font-family: "Poppins", sans-serif;
    transition: all .5s ease;
    outline: none;
}
.header button:hover {
    background-color: rgb(5, 94, 34);
    color: white;
}
.todoList {
    flex: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}

.task {
    width: 500px;
    height: 50px;
    display: flex;
    color: white;
    margin: 15px;
}
.task .content {
    flex: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task .content span {
    display: grid;
    place-items: center;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-right: none;
    background-color: brown;
}
.task button {
    flex: 20%;
    height: 100%;
    border: none;
    background-color: rgb(6, 133, 133);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: 700;
    outline: none;
}

@media (max-width: 550px) {
    .header .inputContainer {
        display: flex;
        flex-direction: column;
    }
    .input-align {
        margin-top: 10px;
        margin-left: 0px;
    }
}